body {
    background-color: #f3f3f3;
}

.calculator,
.display {
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: #383838;
}

.calculator {
    width:400px;
    height:600px;
    background:#9b9b9b;
    margin: auto;
    margin-top: 20px;
}

.display {
    width: 360px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.display h1 {
    font-size: 18px;
    font-family: Helvetica;
    margin-right: 22px;
    margin-top: 22px;
}

.display p {
    font-size: 42px;
    font-family: Helvetica;
    margin-right: 22px;
    margin-bottom: 22px;
}

.topButtons {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    width: 360px;
    height: 68px;
    margin: auto;
}

.topButtons button {
    font-size: 22px;
}

.buttons {
    padding: 20px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    height:80px;
    width:80px;
    font-family: Helvetica;
    font-size: 22px;
    border: 1px outset #f198e3;
    background-color: #fad0f3;
    transition: 0.2s;
}


.operatorBtn  {
    background-color: #f5aeea !important;
}



.buttons button:hover {
    background-color: #ec89dd !important;
}

@media (max-width: 600px) {

.calculator {
    width:350px;
    height:550px;
    background:#9b9b9b;
    margin: auto;
    margin-top: 10px;
}

.display {
    width: 310px;
    height: 80px;
    margin-top: 20px;
}


.display h1 {
    font-size: 14px;
    font-family: Helvetica;
    margin-right: 22px;
    margin-top: 12px;
}

.display p {
    font-size: 32px;
    font-family: Helvetica;
    margin-right: 22px;
    margin-bottom: 10px;
}

.topButtons {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    width: 320px;
    height: 68px;
    margin: auto;
}

.topButtons button {
    font-size: 16px;
}

.buttons {
    padding: 20px;
    padding-top: 10px;
    display: grid;
    gap: 5px;
}

.buttons button {
    height:75px;
    width:75px;
    font-family: Helvetica;
    font-size: 16px;
    border: 1px outset #f198e3;
    background-color: #fad0f3;
}

.buttons button:hover {
    background-color: #fad0f3 !important;
}

.buttons button:active {
    background-color: #ec89dd !important;
    transform: scale(1.1);
	transition: .1s;
}

}